<p>{{start}} {{end}} {{audio.currentTime}} </p>
{{#if afUrl}}
    {{#if isPlaying}}
    <button class="tiny button" {{action "pause"}}>
        {{fa-icon 'pause-circle'}} Pause
    </button>
    {{else}}
    <button class="tiny button" {{action "play"}}>
        {{fa-icon 'play-circle'}}  Play
    </button>
    {{/if}}
    <button class="button tiny" {{action "seek" 10 "forward" "start"}}>{{fa-icon 'forward'}} 10secs</button>
    <button class="button tiny" {{action "seek" 10 "backward" "start"}}> {{fa-icon 'backward'}} 10secs</button>
    {{#if isPlaying}}
    <button class="tiny button" {{action "pause"}}>
        {{fa-icon 'pause-circle' clip}} Pause
    </button>
    {{else}}
    <button class="button tiny" {{action "playEnd" }}>{{fa-icon 'step-forward'}} Play End</button>
    {{/if}}

{{else}}

{{/if}}
        <input type="range" max="{{audioDuration}}" value={{audio.currentTime}} step="0.01" id="slider">


 <div class="slider" data-slider data-initial-start="50" data-end="200">
  <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
  <span class="slider-fill" data-slider-fill></span>
  <input type="hidden">
</div>

    <audio controls style="height:0px;width:1px;" id="audioPlayer">
            <source src="{{afUrl}}">
    </audio>