<select name="categories" id="">
{{#each categories.lastSuccessful.value as |c|}}
    {{c.name}}
    <option value="{{c.id}}">{{c.name}}</option>
{{/each}}
</select>

{{#each categories.lastSuccessful.value as |c|}}
    <button class="small button" {{action "categorise" c }}>{{c.name}}</button>
{{/each}}
{{yield}}