
{{ input value=model.title }}

<div class="form-group">
 <label class="col-sm-2 control-label">Image<br>(16x9)</label>
 <div class="col-sm-10"> 

{{#if model.picture}}
    <img src="{{model.picture}}" alt="">
{{/if}}
 <img id="output" height="200" width="200" hidden={{shouldHideImage}}>
 <p></p>
{{x-file-input class="custom-class" multiple=false name="files" action=(action "didSelectImage") accept="image/*" alt="Upload Image" class="image_upload"}}

 </div> 
 </div>

<button class="medium success button" {{action "saveData"}}>Save
</button>