<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Clip</h1>
            <div class="callout">
                          {{ember-timepicker
                            onChange=(action 'onChange')
                            options=options
                            value=time
                            placeholder="Enter or choose a time"}}
                {{input value=duration}}
<button class="button success" {{action "markStart"}}>Mark Start</button>

<button class="button" {{action "seekSeconds" "up" 1}}>Add Seconds</button>
<button class="button" {{action "seekSeconds" "down" 1}}>Subtract Seconds</button>
<button class="button" {{action "playFromStart"}}>Play from Start</button>
<buton class="button" {{action "pause"}}>Pause</buton>
            </div>
        </div>
    </div>
</div>
<h1>{{hifi.position}} {{audioDuration}}</h1>
{{#if hifi.duration}}
<input type="range" min="1" max="{{audioDuration}}" value="{{hifi.position}}" class="slider" id="myRange">

{{/if}}
<h6>{{streamUrl}}</h6>
{{yield}}