<div class="grid-x grid-margin-x flashBriefing">
    <div class="small-6 cell pad-top-10">
        <h2>{{model.titleText}}</h2>
    </div>
    <div class="small-6 cell pad-top-10">
        {{#link-to "flashbriefing.settings" model.id}}
        <button class="button float-right">
            {{fa-icon "cog"}}
        </button>
        {{/link-to}}
    </div>
    <div class="small-6 cell">
        {{#if model.streamUrl}}
        {{audio-player src=model.streamUrl }} 
        {{/if}}
    </div>
     <div class="small-6 cell ">
         <p class="float-right">
            Last Published {{moment-format model.lastUpdated "llll"}}
         </p>
         
     </div>
    <div class="small-12 cell">

    {{#if model.clipHourly}}
        {{#if needsUpdate }}
            <button class="large expanded button warning" {{action "makeFlashAudio"}}>
                {{fa-icon "file-audio" }} Clip Latest Bulletin {{moment-format latestStart "HH:mm"}} - {{moment-format latestEnd "HH:mm"}}
            </button>
            {{#link-to "index" (query-params isFlashBriefing="true" category=model.id) }}
            <h6 class="align-center">Or</h6>
            <button class="button large expanded">{{fa-icon "file-audio" }} Clip Custom Time</button>
            {{/link-to}}
            {{else}}
            {{#link-to "audio" model.uid }}
            <button class="success large expanded button">
                {{fa-icon "check"}} {{model.titleText}} Published {{model.publishDate }} {{ moment-format model.publishDate
                "lll"}}
            </button>
            {{/link-to}}
            {{#if rolling }}
            <button class="alert button small" onclick={{perform unpublishAudio model}} disabled>Rolling Back</button>
            {{else}}
            <button class="alert button small" onclick={{perform unpublishAudio model}}>Rollback (Unpublish)</button>
            {{/if}}
        {{/if}}
    {{else}}

        {{#link-to "index" (query-params isFlashBriefing="true" category=model.id) }}
            <button class="button large"> {{fa-icon "file-audio" }}  Make Audio Clip</button>
        {{/link-to}}

    {{/if}}
    </div>


    {{#if model.hasVideo}}
    <div class="small-12 cell">
        <hr>
        <h2>Video</h2>
        <p>Latest file {{model.videoSourceFile}} created at {{moment-format video.firstObject.created "lll"}}</p>
        {{#if (eq video.firstObject.file model.videoSourceFile) }}
        <button class="success button expanded" {{action "publishVideo"}}>{{fa-icon "check"}} Published {{moment-format model.videoPublishDate "llll"}}</button>
        {{else}}
        <button class="alert button expanded" {{action "publishVideo" model video.firstObject.file }}>
            {{fa-icon "exclamation-triangle"}} Publish
        </button>
        {{/if}}
        <video controls style="display:block; margin: auto; width:100%;">
            <source src="{{videoPrefix}}{{video.firstObject.file}}">
        </video>
        <ul class="vertical menu">
            {{#each video as |v|}}
            {{#if (eq v.file model.videoSourceFile)}} {{fa-icon "check"}} {{/if}}
            <li>{{v.file}} {{v.created}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>