{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}


<div class="grid-container" style="margin-top:50px;">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <div id="player"></div>
        </div>
         <div class="small-6 cell">
            <button class="success button" {{action "play"}}>Play</button>
            <button class="success button" {{action "toggle"}}>Toggle</button>
        </div>
    </div>
        <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
        </div>
    </div>
</div>

{{yield}}