<style>
    .hidden {
        display: none;
    }

    .if-container {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        width: 1280px;
        height: 1080px;
    }

    .if-column {
        display: flex;
        flex-direction: column;
        flex-basis: 1280px;
        flex: 1;
        width: 100%;
        height: 1080px;
        display: none;
    }

    iframe {
        height: 1080px;
        width: 100%;
    }
</style>
<div style="width:100%; overflow:scroll;">
    {{#each model as |frame index| }}
    <div class="if-column" id="slide{{ index }}">
        {{#if (eq index 0)}}
        <iframe src=" {{frame.url}}" frameborder="0" class="{{model.id}}" onload={{ action 'iframeLoaded'}}
            id="{{index}}"></iframe>
        {{else}}
        <iframe src=" {{frame.url}}" frameborder="0" class="{{model.id}}" id="{{index}}"></iframe>
        {{/if}}
    </div>
    {{/each}}
</div>