<button class="button" onclick={{action (mut showDropDown)}}>
Audio Source {{stations.selectedStation.station_name}}
</button>
{{#if showDropDown}}
<select onchange={{action "setStation" value="target.value"}}>
    {{#each stationList as |s|}}
    <option value={{s.station_name}} selected={{eq selected.id s.id}}>{{s.title}}</option>
    {{/each}}
</select>
{{/if}}