{{#if working }}
<button class="warning large button" disabled>
    Working
</button>
{{else}}
<button class="warning large button" {{action "apiRequest" model}}>
    Upload
</button>
{{/if}}
{{#if trimmedAudio}}
<p>File Encoding when done it will be located here: {{trimmedAudio}}</p>
    {{#if jobComplete}}
    <a href="{{trimmedAudio}}">
    <button class="success large button">
    {{trimmedAudio}}
    </button>
    </a>
    {{else}}
    <button class="success large button disabled">
        {{trimmedAudio}}
    </button>
    {{/if}}
{{/if}}
{{yield}}