{{#if error}}
<div class="small-12">
<div class="callout warning">
  <h5>{{error}}</h5>
</div>
</div>
{{/if}}
<div class="grid-x grid-margin-x">
<div class="small-11 cell">
  <h1>{{model.title}} {{moment-format model.starttime "hh:mm"}} - {{moment-format model.endtime "hh:mm"}}</h1>
</div>

<div class="small-1 cell">
  <buttom class="small button float-right">{{ fa-icon "question-circle" }} Help</buttom>
</div>
</div>
<div class="small-12">
  {{#unless isReady}}
<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
  <div class="progress-meter" style="{{percentage}}"></div>
</div>
{{/unless}}
<div id="waveform-container">
  <div id="waveform">
      {{#if isReady }}
  {{else}}
  <div style="position:absolute;">
      <div class="loading">
        
            <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
  </div>
  </div>
  {{/if}}
  </div>
</div>
{{#if playing}}
<button class="large button" id="pause" {{action "togglePlayer"}}>
  {{fa-icon "pause"}}
</button>
{{else}}
<button class="large button primary" id="wavesurferPlay" {{action "play"}}>
  {{fa-icon "play"}}
</button>
{{/if}}

<button class="large button hollow" id="stop">
  {{fa-icon "stop"}}
</button>

{{#if newStart}}
<button class="button warning" {{action "markEnd"}}>{{fa-icon "highlighter"}} Mark End</button>
{{else}}
<button class="button secondary" {{action "markStart"}}>{{fa-icon "highlighter"}} Mark Start</button>
{{/if}}
<button class="button secondary" id="playStart">{{fa-icon "step-forward"}}  Play Region Start</button>
<button class="button secondary" id="playEnd">{{ fa-icon "step-backward" }} Play Region End</button>
<button class="button secondary" {{action "clearSelection"}}>{{fa-icon "eraser" }} Clear Selection</button>
<!-- <button class="small button" {{action "resetZoom"}}>Reset Zoom</button> -->
<button class="button tiny" {{action "toggleControls"}}>
  {{#if showControls}}
  {{ fa-icon "toggle-on" }}
  {{else}}
  {{ fa-icon "toggle-off" }}
  {{/if}} more</button>
{{#if showControls}}
<button class="tiny button" {{action "jumpToEnd"}}>{{fa-icon "fast-backward"}} Jump to Start</button>
<button class="tiny button " {{action "skip" "back"}}>
  {{fa-icon "arrow-circle-left"}} Skip Back {{skipLength}}</button>
<button class="tiny button " {{action "skip" "forward"}}>Skip forward {{skipLength}} {{fa-icon "arrow-circle-right"}} </button>
<button class="tiny button" {{action "jumpToEnd"}}>{{fa-icon "step-forward"}} Jump to end</button>
{{#if speed}}
<button class="tiny button" {{action "scrub" 1}}>Normal Speed </button>
{{else}}
<button class="tiny button" {{action "scrub" 2}}>High Speed </button>
{{/if}}
{{/if}}
<input data-action="zoom" type="range" min="1" max="50" value="0" style="width: 100%" id="slider">


<div class="grid-x grid-margin-x">
  <div class="small-6 cell">
<div class="input-group">
  <span class="input-group-label">Add</span>
  {{input class="input-group-field seconds" type="number" style="max-width:100px;" value=timeStart}}
  <div class="input-group-button">
    <button type="submit" class="button" value="" {{action "addTime2" model "starttime" timeStart}}>seconds to start</button>
  </div>
</div>
</div>
  <div class="small-6 cell">
<div class="input-group">
  <span class="input-group-label">Add</span>
  {{input class="input-group-field seconds" type="number" style="max-width:100px;" value=timeEnd}}
  <div class="input-group-button">
    <button type="submit" class="button" value="" {{action "addTime2" model "endtime" timeEnd}}>seconds to end</button>
  </div>
</div>
</div>
</div>
</div>