/*
.fp-timeline.fp-bar {
    background: black;
}
.fp-progress.fp-color.animated {
    background: red;
    height: 3px;
}
.fp-share-menu{
    display:none;
}
.fp-subtitle-menu{
    display:none;
}
.fp-cc{
    display:none;
}
.fp-timestamp{
    display:none;
}
.fp-elapsed{
    display:none;  
}
.fp-remaining{
    display:none; 
}
.fp-duration{
    display:none;
}
.fp-engine{
    height:0px;
}
*/