  //ui-slider
  .ui-slider{
    margin: 0 auto;
  }
  .ui-slider .tooltip.bottom{
    margin-top:20px!important;
  }
  .slider {
    background-color: transparent;
    margin-bottom:0px;
    margin-top:0;
    @include breakpoint(small only){
        padding-top:0;
        margin-top:0;
      }
      padding-top:0;
  }
  .slider.slider-horizontal .slider-track {
    height:4px;
  }
  .slider-handle{
    width:10px;
    height:10px;
    margin-top:0!important;
  }
  .slider-handle {
    background:$white;
  }
  /*
  .ui-slider.mood-radio1 .slider-selection {
    background:$radio1Color;
  }
  .ui-slider.mood-twofm .slider-selection {
    background:$twofmColor;
  }
  .ui-slider.mood-rnag .slider-selection {
    background:$rnagColor;
  }
  .ui-slider.mood-pulse .slider-selection {
    background:$pulseColor;
  }
  .ui-slider.mood-radio1extra .slider-selection {
    background:$radio1extraColor;
  }
  .ui-slider.mood-gold .slider-selection {
    background:$goldColor;
  }
  .ui-slider.mood-lyric .slider-selection {
    background:$lyricColor;
  }
  .ui-slider.mood-junior .slider-selection {
    background:$juniorColor;
  }
  .ui-slider.mood-twoxm .slider-selection {
    background: #677890;
    border-radius: 0 0 0 0;
  }
  */
  //workaround for live shows
  .slider.slider-horizontal .slider-tick.triangle, .slider.slider-horizontal .slider-handle.triangle{
    display:none;
  }
  .slider-track-high{
    background:#A3B0C6;
    border-radius: 0 0 0 0;
}