@import "settings";
@import "foundation-sites/foundation";
@include foundation-everything;
@include foundation-flex-classes;
@include foundation-flex-grid;
@import "slider";
@import "flowplayer";
@import "ember-power-calendar";

body {
  background: $light-gray;
  font-family: "Source Sans Pro";
}
h1,
h2,
h3,
h4 {
  font-family: Montserrat;
}
.demo-calendar-small {
  @include ember-power-calendar($cell-size: 30px);
}
.demo-calendar-medium {
  @include ember-power-calendar($cell-size: 50px);
}
.demo-calendar-big {
  @include ember-power-calendar($cell-size: 70px);
}
.ember-power-calendar {
  background-color: $light-gray;
  //padding:5px;
  @include ember-power-calendar(
    $cell-size: 25px,
    $primary-color: $white,
    $row-padding-right: 5px,
    $row-padding-left: 5px
  );
}
.plus-minus-input {
  align-items: center;

  .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .input-group-button {
    .circle {
      border-radius: 50%;
      padding: 0.25em 0.8em;
    }
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.player {
  background: white;
}
header {
  ul {
    //background:#00A7B3;
    color: $white;
    a {
      color: $white;
      :hover {
        color: black;
      }
      :active {
        color: black;
      }
    }
  }
}
.pad-top-10 {
  padding-top: 10px;
}
.flashBriefing {
  background: $white;
  margin-top: 5px;
  border-bottom: 3px solid $dark-gray;
}
.record {
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 5, 5, 0.9);
}
.stop {
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: black;
}
.notifcation {
  width: 20%;
  position: fixed;
  right: 0;
  z-index: 2;
  top: 0;
}
.white-trans-button {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.geratedVideo {
  position: fixed;
  bottom: 0;
  right: 0;
  background: $black;
  width: 300px;
  video {
    width: 100%;
  }
}

.takeOver {
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 49, 49, 0.9);
}
.iframeFull {
  height: 100vh;
}
$hero-full-screen-bg: url("https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")
  center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: $white;

.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  .middle-content-section {
    text-align: center;
    color: $hero-full-screen-text-color;
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;

    .menu {
      background: transparent;
    }

    .menu-text {
      color: $hero-full-screen-text-color;
    }

    .menu li {
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $hero-full-screen-text-color;
      font-weight: bold;
    }
  }
}
.special {
  position: fixed;
  bottom: 0;
  width: 100%;
}
