<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Records: {{model.length}}</h1>
            Add Page
            {{input value=url placeholder="Url"}}
            {{input value=title placeholder="Title"}}
            <button class="button" {{action "add"}}>Add</button>
        </div>
        <div class="small-12 cell">
            <ul>
                {{#each model as |p|}}
                <li> {{p.title}} {{p.url}} <button class="tiny" {{action "delete" p}}>{{fa-icon "trash" }}</button></li>
                {{/each}}
            </ul>



        </div>
    </div>
</div>
{{outlet}}