<div class="small-12 cell">
    <table>
        <thead></thead>
        <tbody>
            {{#each model as |category|}}
            <tr>
                <td>{{category.name}}</td>
                <td>
                    <button class="tiny button" {{action "addClipToCategory" category}}>
                        <i class="fa fa-times"></i>
                        Add
                    </button>
                </td>

            </tr>
            <tr>

                <td colspan="1">
                    {{#each category.audioclip as |audio|}}
                    <p>{{audio.title}}</p>
                    <button class="tiny button warning" {{action "removeClipFromCategory" category category.audioclip}}>
                        <i class="fa fa-times"></i>
                        remove
                    </button>
                    {{/each}}

                </td>
                <td>

                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>{{outlet}}