<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LiveIndex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}
    <link rel="stylesheet" href="https://releases.flowplayer.org/7.2.7/skin/skin.css">
    <link rel="shortcut icon" type="image/png" href="https://www.rte.ie/favicon.ico" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i|Montserrat:400,700' type='text/css' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i|Montserrat:400,700' type='text/css' />
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/live-index.css">
  

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/live-index.js"></script>
    <script src="https://twistedwave.com/online/sdk.js"></script>
    <!-- the audio plugin stylesheet -->
<link rel="stylesheet" href="//releases.flowplayer.org/audio/flowplayer.audio.css">
 
<!-- ... -->
 
<!-- Flowplayer library -->
<script src="//releases.flowplayer.org/7.2.4/flowplayer.min.js"></script>
 
<!-- hlsjs engine (light) to play HLS without Flash in modern browsers -->
<script src="//releases.flowplayer.org/hlsjs/flowplayer.hlsjs.light.min.js"></script>
 
<!-- audio plugin -->
<script src="//releases.flowplayer.org/audio/flowplayer.audio.min.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
