<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Clip {{model.title}} {{showWave}}</h1>
            {{#if showWave}}
            {{wavesurfer-audio model=model audiourl=model.getAudioUrl  toggleAction=(action "toggleShowWave")}}
            {{/if}}
            <button class="large success button expanded" {{action "saveWave"}}>Save</button>
        </div>
    </div>
</div>
{{outlet}}