<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Add a new flash briefing</h1>
            {{input value=titleText placeholder="titleText"}}
            {{input value=mainText placeholder="mainText"}}
            Has Video?
            {{input type="checkbox" name="hasVideo" }}
            <button class="button" {{action "add"}}>Add</button>
        </div>

        </div></div>
{{outlet}}