<div class="grid-container">
    {{#each sortedBriefings as |f|}}
    {{flash-briefing model=f video=sortedVideos redirctAction=(action "redirect") refreshRoute=(action "refreshRoute")}}
    {{/each}}
</div>

<div class="grid-container">
    <div class="grid-x grid-margin-x">

        <div class="small-12">
            {{#link-to "flashbriefing.add"}}
            <button class="large button expanded">Add New Flash Briefing</button>
            {{/link-to}}
        </div>
    </div>

</div>
{{outlet}}