<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12">

                <h1>{{model.titleText}}</h1>
                {{input value=model.titleText placeholder="Title"}}
                {{input value=model.mainText placeholder="Main Text"}}
                {{input value=model.redirectionUrl placeholder="Redirect Url (website)"}}
                {{input value=model.gain placeholder="gain"}}
                {{input value=model.service placeholder="station"}}
                {{input value=model.sortOrder placeholder="order"}}
                {{input value=model.image placeholder="image"}}
                {{input value=model.category placeholder="Category"}}
                <p>{{input type="checkbox" checked=model.hasVideo }} Has Video?</p>
                <p>{{input type="checkbox" checked=model.clipHourly}} Update on Hour?</p>
                

                <button class="button success" {{action "save"}}>Save</button>

        </div>
    </div>
</div>

{{outlet}}