<div class="grid-container">
    <div class="grid-x grid-margin-x">
<div class="small-12">
    <h1>{{ videos.firstObject.created}}</h1>
        <video controls>
            <source src="http://radiodj.rte.ie/media/flashbriefing/{{videos.firstObject.file}}">
        </video>
        <button class="large expanded button">Publish</button>
</div>
</div></div>
{{outlet}}