<div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="small-12">
            <h1>Add {{model.length}}</h1>
        </div>
        <div class="small-2 cell">
            <label for="middle-label" class="text-left middle">Title</label>
        </div>
        <div class="small-10 float-left cell">
            {{input placeholder="title" value=title}}
        </div>

        <div class="small-2 cell">
            <label for="middle-label" class="text-left middle">Url</label>
        </div>
        <div class="small-10 float-left cell">
            {{input placeholder="url" value=url}}
        </div>

        <div class="small-12 float-left cell">
            <button class="button success expanded" {{action "add"}}>Add</button>
        </div>
    </div>
</div>


<div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="small-12">
            <h1>Manage {{model.length}}</h1>
        </div>
        {{#each model as |r|}}
        <div class="small-2 cell">
            <label for="middle-label" class="text-left middle">Title</label>
        </div>
        <div class="small-10 float-left cell">
            {{input placeholder="title" value=r.title}}
        </div>

        <div class="small-2 cell">
            <label for="middle-label" class="text-left middle">Url</label>
        </div>
        <div class="small-10 float-left cell">
            {{input placeholder="url" value=r.url}}
        </div>
                <div class="small-12 float-left cell">
            <button class="button success expanded" {{action "update" r}}>Update</button>
        </div>
        {{/each}}

    </div>
</div>

{{outlet}}