        {{#if audio.error}}
        <div class="notifcation">
          <div class="callout alert">
            <button {{action "dismissError"}}>x</button>
             <h5>{{ audio.error}}</h5>
          </div>         
        </div>
            
        {{/if}}
        <div class="notifcation">
            {{#each flashMessages.queue as |flash|}}



            <div class="callout success">
                <h5>{{flash-message flash=flash}}</h5>
            </div>
            {{/each}}
          </div>
<header id="header">
<div class="grid-container" >
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">


  <ul class="menu">
    {{#link-to "prog"}}
    <li>Live Clip</li>
    {{/link-to}}
    {{#link-to "index"}}<li>Clip by time</li>{{/link-to}}
    {{#link-to "flashbriefing"}}<li>Flash Briefing</li>{{/link-to}}
    {{#link-to "logs"}}<li>Logs</li>{{/link-to}}
    {{#link-to "queue"}}<li>Queue</li>{{/link-to}}
    {{#link-to "categories"}}<li>Categories</li>{{/link-to}}
    {{#link-to "users"}}<li>Users</li>{{/link-to}}
    <li>{{select-station}}</li>
  </ul>

</div></div></div>
</header>
{{outlet}}
<footer>
  v{{app-version}}
</footer>
{{#if audio.takeOver}}
  <div class="takeOver">
      <div style="position:absolute;">
      <div class="loading">
        
            <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
  </div>
  </div>
  </div>
{{/if}}
