<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
            {{#if showWave}}
            <div style="width:1200px;">
            {{wavesurfer-audio model=model toggleAction=(action "toggleShowWave")}}
            </div>
            {{/if}}
            {{upload-trim model=model}}

            {{audio-meta model=model}}

        </div>
    </div>
</div>
{{outlet}}