<div class="grid-container">
    <div class="grid-x grid-margin-x">
        {{#if (eq model.publishStatus "complete") }}
        <div class="small-6 cell pad-top-10">
            <div class="callout success">
                <h5>{{fa-icon "check"}} Published {{moment-format model.publishDate "LLL"}} </h5>
            </div>
        </div>
        <div class="small-6 cell pad-top-10">
                <a href="https://us-central1-{{cloudFunctionUrl}}.cloudfunctions.net/socialTags/{{model.id}}" target="_blank">
                <button class="tiny button float-right">
                    {{fa-icon "link" }} Web
                </button>
                </a>
                {{make-video model=model cloudFunctionUrl=cloudFunctionUrl }}
                {{#twitter-share-button title=model.title url=shareUrl class="float-right"}}Tweet{{/twitter-share-button}}
                {{#fb-share-button quote=model.title url=(concat "https://us-central1-{{cloudFunctionUrl}}.cloudfunctions.net/socialTags/" model.id) class="float-right"}}Facebook{{/fb-share-button}}        
        </div>
        {{/if}}
        <div class="small-12 cell pad-top-10">
            {{#if showWave}}
            {{wavesurfer-audio model=model audiourl=model.getAudioUrl  toggleAction=(action "toggleShowWave")}}
            {{/if}}
            {{input value=model.title onchange=(action (mut model.title) value="target.value") focusOut=(action "autoSave")}}
            
            
            
            {{#if (eq model.publishStatus "editing")}}
                            <button class="large success button expanded" {{action "phpRequest" model}} id="save">{{fa-icon "save"}} Publish</button>

            {{else}}
                            <button class="large success button expanded" id="save" disabled>{{fa-icon "save"}} {{ model.publishStatus}}</button>

            {{/if}}
            {{#if model.awsaudio}}
                {{awsaudio-player model=model }}
            {{/if}}
        </div>

    </div>
</div>
{{#if model.generatedVideo}}
<div class="geratedVideo">
    <video controls>
        <source src="{{model.generatedVideo}}">
    </video>
</div>
{{/if}}
{{outlet}}