
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            {{input value=categoryName placeholder="Category Name"}}
            <button class="large button" {{action "addCategory"}}>Add</button>
        </div>
        <div class="small-12 cell">
            <table>
                <thead></thead>
                <tbody>
                    {{#each model as |category|}}
                    <tr>
                        <td>
                            {{input value=category.name}}
                        </td>
                        <td>
                            {{input value=category.link}}
                        </td>
                        <td>
                            <button class="button tiny success" {{action "updateCategory" category}}>Save</button>
                        </td>
                        <td>
                            <button class="tiny button" {{action "delete" category}}>
                                <i class="fa fa-times"></i>
                                Delete
                            </button>
                        </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{outlet}}