<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Categorise</h1>

            <ul>
                {{#each model as |audio|}}
                    <li>{{audio.title}}
                        <button class="tiny button" {{action "addToCategory" "weather" audio}}>Add</button>
                    </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>
{{outlet}}