<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>{{model.title}} {{moment-format model.starttime "hh:mm"}} - {{moment-format model.endtime "hh:mm"}}</h1>
            {{#if showWave}}
            {{wavesurfer-audio model=model audiourl=model.getAudioUrl  toggleAction=(action "toggleShowWave")}}
            {{/if}}
            {{#if working}}
                <button class="large success button expanded" {{action "apiRequest" model}} id="save" disabled>Save</button>
            {{else}}
            <button class="large success button expanded" {{action "apiRequest" model}} id="save">Save</button>
            {{/if}}

            {{#if model.awsaudio}}
                    <audio controls>
                        <source src="{{model.awsaudio}}">
                    </audio>
            {{/if}}
        </div>

    </div>
</div>
{{outlet}}