{{hide-header}}
{{#unless settings.hideSliders}}
{{preload-iframes model=model interval=12000}}
{{/unless}}
<p></p>
{{#if settings.showAlert}}

<div class="special">
    <div class="callout warning">
        <h5>{{settings.alertTitle}}!</h5>
        <p>{{settings.alertText}} </p>
    </div>
</div>


<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">

        </div>
    </div>
</div>
{{/if}}



{{outlet}}