<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
      {{#if category }}
      <h1>{{category}} {{stations.selectedStation.station_title}}</h1>

      {{#if isFlashBriefing}}
      <h2>Flash Briefing - {{category}}</h2>
      {{/if}}

      {{else}}
      <h1>Clip Audio By Time - first Choose a category</h1>

      {{#each model as |category|}}
      <button class="small button" {{action "chooseCategory" category.slug}}>{{category.name}}</button>
      {{/each}}
      {{/if}}
    </div>
  </div>
  {{#if category }}
  <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
      <form class="callout text-center">
        <h2>Make a clip</h2>
        <p>Start: {{moment-format start "X"}} - End: {{end}}</p>
        <div class="floated-label-wrapper">
          {{#if showCalendar}}
          {{#power-calendar
          selected=selected
          onSelect=(action "updateDate" value="date") as |calendar|}}
          {{calendar.nav}}
          {{calendar.days minDate=minDate maxDate=maxDate}}
          {{/power-calendar}}
          {{else}}
          <button class="button secondary" {{action "toggleCal" }}>{{moment-format selected "MMMM ddd Do YYYY"}}</button>
          {{/if}}
        </div>
        <div class="floated-label-wrapper">
          <label for="full-name">Choose a time</label>
          {{ember-timepicker
          onChange=(action 'onChange')
          options=options
          value=time
          placeholder="Enter or choose a time"}}
        </div>
        {{#if start}}
        <div class="floated-label-wrapper">
          <label for="email">Choose length in minutes</label>
          {{input value=minutes placeholder="how many minutes" type="number" min="0" keyUp=(action "addDuration") }}
        </div>

        <div class="floated-label-wrapper">
          <label for="pass">Format {{format}}</label>
          <select name="format" id="" onchange={{action (mut format) value="target.value"}}>
            <option value="mp3">mp3</option>
            <option value="mp2">mp2</option>
          </select>
        </div>
        {{#if minutes}}
        {{#if isUploading}}
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <h8>Uploading from Audio File to S3 ...</h8>
        {{else}}
          <button class="button warning expanded" {{action "saveAudioFile"}}>
          Upload / Edit
        </button>
        <!-- <button class="button warning expanded" {{action "twistedAudioFile"}} disabled>
          Upload / Edit
        </button> -->
        {{/if}}
        {{/if}}
        {{/if}}
      </form>
    </div>
  </div>
    <div class="grid-x grid-margin-x">
    <div class="small-12 cell">
      <div class="callout">
        {{#if start}}
        {{audiofile-player start=start end=end service=stations.selectedStation.station_name updateStartTime=(action "updateStartTime")}}
        {{/if}}
      </div>
    </div>
  </div>
  {{/if}}
</div>

{{outlet}}