
<div class="grid-container">
    <div class="grid-x grid-padding-x medium-up-3">
        {{#each model as |a|}}
        
        <div class="cell">
            
            <div class="card">
                {{#link-to "meta" a}}<img src="{{ a.picture }}" class="pic_thumb">{{/link-to }}
                <div class="card-section">
                    {{#link-to "meta" a}}<h4>{{a.title}}</h4>
                    
                    {{/link-to}}
                    <h5>{{moment-format a.starttime "Do MMM YY HH:mm"}}</h5>
                   
                    {{#if a.awsUploadComplete}}
                    <audio controls>
                        <source src="{{a.awsaudio}}">
                    </audio>
                    {{#if a.awsUploadComplete}}
                     <p>{{fa-icon 'check'}} Published</p>
                        <button class="button" disabled>Edit Audio</button>
                    {{else}}
                    {{#link-to "wave" a}}
                    <button class="button">Edit Audio</button>
                    {{/link-to}}
                    {{/if}}
                    {{/if}}
                    {{#link-to "meta" a}}
                    <button class="warning button">Edit Meta</button>
                    {{/link-to}}
                    <a >
                    <button class="button alert" {{action "deleteRecord" a}}>Delete</button>
                    </a>
                </div>
            </div>
            
        </div>
       
         {{/each}}
    </div>
</div>

{{outlet}}