<div class="grid-container">
    {{#if session.isAuthenticated}}
        <div class="small-12 cell">Welcome
            <button class="button" {{action "logout"}}>Logout</button>
        </div>
    {{else}}
    <div class="small-12 cell">
        {{#if loginError}}
            <div class="callout warning">
                {{ loginError }}
            </div>
        {{/if}}
        {{input value=userEmail}}
        {{input value=userPassword type="password" autocomplete="current-password"}}
        <button class="button" {{action "login"}}>Login</button>
        <button class="button tiny secondary" {{action "resetPassword"}}>REset Password</button>
    </div>
    {{/if}}
</div>

{{outlet}}