<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12">
            <table>

            </table>
            <thead>
                <th>Date</th>
                <th>Log</th>
                <th>Type</th>
            </thead>
            <tbody>
            {{#each sortedLogs as |log|}}
            <tr>
                <td>{{moment-format log.time "DD/MM HH:mm:ss"}}</td>
                <td>{{{log.log}}}</td>
                <td>{{log.type}}</td>
            </tr>
            {{/each}}
            </tbody>
        </div>
    </div>
</div>

{{outlet}}