<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Settings</h1>
            {{input value=model.displayName}}
            {{input value=model.interval}}

            <p>{{input type="checkbox" checked=model.showAlert}} Show Alert?</p>

            {{#if model.showAlert}}
            {{input value=model.alertTitle placeholder="Alert Title"}}
            {{input value=model.alertText placeholder="Alert Text"}}
            {{/if}}

            <button class="large button" {{action "save"}}>Save</button>
        </div>
    </div>
</div>
{{outlet}}