
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>Manage Displays</h1>
        </div>
        <div class="small-12 cell">
            {{input value=id placeholder="Id"}}
            {{input value =displayName}}
             <button class="button" {{action "add"}}>Add</button>
        </div>
        <div class="small-12 cell">
            <h1>Displays {{model.length}}</h1>
            <ul>
                {{#each model as |d|}}
                    <h3>{{d.displayName}}</h3>
                    <div class="callout">
                        <p>{{input type="checkbox" checked=d.showAlert }} Show Alert?</p>
                        <p>{{input value=d.alertText placeholder="Alert Text"}}</p>
                        <p>{{input type="checkbox" checked=d.showTakeOver }} Show Take Over?</p>
                        <button class="button" {{action "save" d}}>Save</button>

                    </div>
                {{/each}}
            </ul>
        </div>
    </div>
</div> {{outlet}}