<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            {{#link-to "wave" model.id}}
            Edit Audio
            {{/link-to}}

            {{model.category.id}}

            {{audio-meta model=model}}
            {{audio-category model=model}}
        </div>
        <div class="small-12 cell">
               {{aws-audio model=model}}
        </div>
        <div class="small-12 cell">

        </div>
        {{outlet}}
    </div>
    
</div>
