<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-6 cell">
            
            <h1>{{moment-format date "Do MMM"}} {{progName}} {{stations.selectedStation.station_name}}</h1>
        </div>
        <div class="small-6 cell">
  
        </div>
        <div class="small-12 cell">
            <p>{{input type="checkbox" checked=redirect onclick=(mut redirect)}} Redirect to Audio Editor when recording stops</p>
            
            <button class="button large alert expanded" {{action "markStart"}} id="start">
                {{fa-icon "circle"}} START
            </button>
        </div>
        {{#if recording}}
        <div class="record">
            <button class="button large white-trans-button hollow" id="end" {{ action "makeClip"}}>
                {{record-timer}}
                {{fa-icon "square"}} STOP</button>
        </div>
        {{/if}}
    </div>

    <div class="small-12 cell">
        <h5>Unpublished clips {{audio.length}}</h5>
        <table>
            <tr>
                <th>

                </th>
            </tr>
            <tbody>
                {{#each audio as |clip|}}
                {{#link-to "audio" clip.id tagName="tr"}}
                <td>
                    <img src="{{clip.picture}}" alt="">
                </td>
                <td>
                    {{clip.title}}
                </td>
                <td>

                    {{moment-format clip.starttime "hh:mm"}} - {{moment-format clip.endtime "hh:mm"}}
                </td>
                <td>
                    {{clip.category}}
                </td>
                <td>
                    <button class="button alert" {{action "deleteClip" clip}}>
                        {{fa-icon 'trash'}}
                        delete</button>
                </td>
                {{/link-to}}
                {{/each}}


            </tbody>

        </table>
    </div>
</div>
{{outlet}}