   <div class="grid-container">
    <div class="grid-x grid-margin-x">
                    <div class="small-12 cell">
                <table>
                    <tr>
                        <th>
                            {{editing.length}} Editing
                        </th>
                    </tr>
                    <tbody>
            
                        {{#each editing as |clip|}}
                        {{#link-to "audio" clip.id tagName="tr"}}
                        <td>
                            <img src="{{clip.picture}}" alt="">
                        </td>
                        <td>
                            {{clip.title}}
                        </td>
                        <td>
            
                            {{moment-format clip.starttime "hh:mm"}} - {{moment-format clip.endtime "hh:mm"}}
                        </td>
                        <td>
                            {{clip.category}}
                        </td>
                        <td>
                            <button class="button alert" {{action "deleteClip" clip}}>
                                {{fa-icon 'trash'}}
                                delete</button>
                        </td>
                        {{/link-to}}
                        {{/each}}
            
            
                    </tbody>
            
                </table>
            </div>
            <div class="small-12 cell">
                <table>
                    <tr>
                        <th>
                            {{processing.length}} Processing
                        </th>
                    </tr>
                    <tbody>
            
                        {{#each processing as |clip|}}
                        {{#link-to "audio" clip.id tagName="tr"}}
                        <td>
                            <img src="{{clip.picture}}" alt="">
                        </td>
                        <td>
                            {{clip.title}}
                        </td>
                        <td>
            
                            {{moment-format clip.starttime "DDD MMM hh:mm"}} - {{moment-format clip.endtime "hh:mm"}}
                        </td>
                        <td>
                            {{clip.category}}
                        </td>
                        <td>

                        </td>
                        {{/link-to}}
                        {{/each}}
            
            
                    </tbody>
            
                </table>
            </div>
    <div class="small-12 cell">
        <table>
            <tr>
                <th>
                    Completed
                </th>
            </tr>
         <tbody>
              
        {{#each complete as |clip|}}
           {{#link-to "audio" clip.id tagName="tr"}}
           <td>
               <img src="{{clip.picture}}" alt="">
           </td>
           <td>
               {{clip.title}}
           </td>
                <td>
                   
                   {{clip.starttime}} {{moment-format clip.starttime "ddd DD MMM  hh:mm"}} - {{moment-format clip.endtime "hh:mm"}}
                </td>
                <td>
                   {{clip.category}}
                </td>
                <td>
                    <button class="button alert" {{action "deleteClip" clip}}>
                        {{fa-icon 'trash'}} 
                        delete</button>
                </td>
            {{/link-to}}
        {{/each}}

            
         </tbody>

        </table>
    </div>
    </div></div>
{{outlet}}