<div class="grid-container">
    <div class="small-12 cell">
        <h1>Users {{isDisabled}}</h1>
        {{#if userError}}
            <div class="callout warning">{{userError}}</div>
        {{/if}}
        {{input value=userEmail placeholder="valid email address"}}
        {{#if isStrongPassword }}Good!{{/if}}
        {{input value=userPassword placeholder="password > 5 chars"}}
        {{#if isBothTrue}}<button class="button" {{action "createFirebaseUser"}}>Add User</button>
            {{else}}
            <button class="button" disabled>Add User</button>
        {{/if}}
    </div>
</div>{{outlet}}